* {
  background-color: lightgray;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template: 120px 360px 350px/ 1fr 1fr 1fr;
  margin: 0 auto;
  grid-template-areas: "header header header"
                         "img-container1 img-container2 img-container3"
                         "img-container4 img-container5 img-container6";
}
.nav li ul li label {
  background-color: black;
  color: lightgray; /* Color de texto más claro */
  padding: 15px 20px; /* Ajusta el padding para hacerlo más grande */
}
.header {
  width: 1550px;
  font-family: Arial, Helvetica, sans-serif;
  grid-area: header;
}

ul {
  list-style: none;
}
.nav li {
  border-right: 1px solid white; /* Añadido para la división entre menús */
}

.nav > li:last-child {
  border-right: none; /* Elimina el borde derecho del último elemento */
}

.nav li span {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav li span:hover {
  background-color: darkolivegreen;
  cursor: pointer;
}

.nav > li {
  float: left;
}

.nav ul li label {
  background-color: black;
  color: white;
  padding: 10px 15px;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 160px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -160px;
  top: 0;
}
***************************************

.nav ul {
  background-color: #333; /* Color de fondo */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo de los elementos de lista */
.nav ul li {
  margin-bottom: 5px; /* Espacio entre elementos de lista */
}

/* Estilo de enlace dentro de la lista */
.nav ul li span {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff; /* Color del texto */
}

/* Estilo de enlace en hover */
.nav ul li span:hover {
  background-color: #555; /* Cambiar color de fondo al pasar el ratón */
  cursor: pointer;
}

